<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>hipmodule</id>
	<name>HIP Module OMOD</name>
	<version>0.1-SNAPSHOT</version>
	<package>org.bahmni.module.hip</package>

	<author>Stream 1</author>
	<description>
		Hip module omod
	</description>

	<activator>org.bahmni.module.hip.HIPModuleActivator</activator>
	
	<require_version>${openmrs.platform.version}</require_version>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module version="1.0.0-SNAPSHOT">org.openmrs.module.fhir2</require_module>
	</require_modules>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

